mixin item(page, url)
  a.topbar__cta.btn.btn--secondary(href=url class=title == page ? 'is-active' : '')=page

nav.topbar
  span.topbar__brand #PhotoFeed
    a(class="topbar__cta btn btn--primary" href="https://signup.steemit.com/") Join Steem
    a(class="topbar__cta btn btn--secondary faq" href="#") FAQ
    +item('Photographers', '/photographers')
    +item('Feeds', '/')

header.header
  h1.header__title Welcome To #PhotoFeed
  h2.header__sub-title Premier Professional Photography On the Steem Blockchain
