<footer>
  <p>
    Website by <a href="http://steemit.com/@sambillingham">Sam Billingham</a> for <a href="https://steemit.com/@photofeed">#Photofeed</a>, a community project by <a href="https://steemit.com/@jrue">@jrue</a>, <a href="https://steemit.com/@aweber">@aweber</a>, <a href="https://steemit.com/@yumyumseth">@yumyumseth</a> and <a href="https://steemit.com/@Cryptoctopus">@Cryptoctopus</a>.
  </p>
</footer>
