<nav class="topbar">
  <span class="topbar__brand" >#PhotoFeed</span>
  <a class="topbar__cta btn btn--primary" href="https://signup.steemit.com/">Join Steem</a>
  <a class="topbar__cta btn btn--secondary faq" href="#">FAQ</a>
  <a class="topbar__cta btn btn--secondary" href="/photographers">Photographers</a>
  <a class="topbar__cta btn btn--secondary is-active" href="/">Feeds</a>
</nav>
<header class="header">
  <h1 class="header__title">Welcome To #PhotoFeed</h1>
  <h2 class="header__sub-title">Premier Professional Photography On the Steem Blockchain</h2>
  </div>
</header>
