doctype html
html
  head
    title PhotoFeed
    link(rel='stylesheet', href='https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.0/normalize.min.css')
    link(rel='stylesheet', href='https://cdnjs.cloudflare.com/ajax/libs/bulma/0.6.2/css/bulma.min.css')
    link(rel='stylesheet', href='/css/main.css')

  body
    block content

    script(src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous")
    script(src="https://cdnjs.cloudflare.com/ajax/libs/protonet-jquery.inview/1.1.2/jquery.inview.min.js")
    script(src="https://cdnjs.cloudflare.com/ajax/libs/showdown/1.8.6/showdown.min.js")
    script(src="https://unpkg.com/masonry-layout@4/dist/masonry.pkgd.min.js")
    script(src="https://cdn.steemjs.com/lib/latest/steem.min.js")
    script(src="/js/vendor/finally-custom.js")
    script(src="/js/main.js")
