extends layout

block content
    include partials/header

    main.photographers
      section.gallery.gallery__photographers
        .photographers__highlight.cf
          .photographers__top.container.cf
            h2 Most Featured
          .photographers__latest.container.cf
            h2 Recent Featured

        h2 Over <span class="total-photographers"></span> Photographers have been selected
        .photographers__show Show All
        .photographers__all.cf
      include partials/overlay
    include partials/footer
