extends layout

block content
    include partials/header

    main.photographers
      section.gallery.gallery__photographers
        h2 Most Featured Photographers
        .photogaphers__top.container.cf
          h2 Over 187 Photographers have been selected
        .photogaphers__all.cf
      include partials/overlay
    include partials/footer
