extends layout

block content
    include partials/header
    main.feeds
      section.nav
        a(class="nav__link nav__link" data-filter="trending" href="#trending") Trending
        a(class="nav__link nav__link--active" data-filter="featured" href="#featured") Featured
        a(class="nav__link" data-filter="latest" href="#lastest") Latest
      section.gallery
      include partials/overlay
    include partials/footer
