extends layout

block content
    include partials/header

    main.profile
      section.nav
        a(class="nav__link nav__link--active" data-filter="blog")
      section.profile__header
      section.gallery.gallery_profile
      include partials/overlay
    include partials/footer
