<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>#PhotoFeed - Profile</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.0/normalize.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.6.2/css/bulma.min.css">
    <link rel="stylesheet" href="css/main.css">
  </head>
  <body>
    <nav class="topbar">
      <span class="topbar__brand" >#PhotoFeed</span>
      <a class="topbar__cta btn btn--primary" href="https://signup.steemit.com/">Join Steem</a>
      <a class="topbar__cta btn btn--secondary faq" href="#">FAQ</a>
      <a class="topbar__cta btn btn--secondary" href="photographers.html">Photographers</a>
      <a class="topbar__cta btn btn--secondary" href="index.html">Feeds</a>
    </nav>
    <header class="header">
      <h1 class="header__title">Welcome To #PhotoFeed</h1>
      <h2 class="header__sub-title">Premier Professional Photography On the Steem Blockchain</h2>

      <div class="header__people">
      </div>
      <div class="header__learn">
      </div>
    </header>

    <main class="profile">
      <section class="nav">
        <a class="nav__link nav__link--active" data-filter="blog"></a>
      </section>
      <section class="profile__header">

      </section>
      <section class="gallery gallery__profile">

      </section>
      <section class="overlay">
        <div class="overlay__content"></div>
        <div class="overlay__photographers">
          <h2>Featured Photographers</h2>
        </div>
        <div class="overlay__faq">
          <h2>Frequently Asked Questions</h2>
          <h3>What is #photofeed?</h3>
          <p>#PhotoFeed is a project spear-headed by <a href="https://steemit.com/@jrue">@jrue</a>, <a href="https://steemit.com/@aweber">@aweber</a>, <a href="https://steemit.com/@yumyumseth">@yumyumseth</a> and <a href="https://steemit.com/@cryptoctopus"> @cryptoctopus</a> that aims to improve the experience of those who want to see beautiful professional photography on <a href="https://steemit.com">steemit.com</a>.</p>
          <h3>Who made photofeed.club?</h3>
          <p>The website <a href="https://photofeed.club">https://photofeed.club</a> was created by and is maintained by <a href="https://steemit.com/@sambillingham">@sambillingham</a>. The site is unoffical and has not been endorsed by the <a href="https://steemit.com/@photofeed">@photofeed</a> project admins.</p>
          <p>Although I'd like it to be ;)</p>
          <h3>How do I get involved?</h3>
          <p>Photofeed is a project on the Steem blockchain, with the primay intefaces being <a href="https://steemit.com">Steemit.com</a> and <a href="https://busy.org">Busy.org</a>. You can sign up <a href="https://steemit.com/signup">here</a>. Anyone can post to the #photofeed hastag as long as you are the origonal photogaher and have the rights to publish the photo.</p>
          <p>Friendly reminded that #photofeed is inteded to showcase high quality photographs. Please consider if your image is relevant before post. </p>
          <h3>What are the rewards?</h3>
          <p>The <a href="https://steemit.com/@photofeed">@photofeed</a> account admins choose five photos each day to be featured. Featured photos receive a resteem and 30% upvote from <a href="https://steemit.com/@cryptoctopus"> @cryptoctopus</a> along with an equal share of the daily roundup post rewards one week later.</p>
          <h3>Are you still working on Potofeed.club? </h3>
          <p>Yes. The website is under active development, if there are suggestions or ideas please contanct <a href="https://steemit.com/@sambillingham">@sambillingham</a></p>
          <h3>What is the difference between trending & featured? </h3>
          <p>Trending uses Steemits calculation for trending posts, a combination of recency and payout value. Featured shows the daily chosen photos by the <a href="https://steemit.com/@photofeed">@photofeed</a> admins. </p>
        </div>
        <div class="overlay__bg"></div>
      </section>

    </main>
    <footer>
      <p>
        Website by <a href="http://steemit.com/@sambillingham">Sam Billingham</a> for <a href="https://steemit.com/@photofeed">#Photofeed</a>, a community project by <a href="https://steemit.com/@jrue">@jrue</a>, <a href="https://steemit.com/@aweber">@aweber</a>, <a href="https://steemit.com/@yumyumseth">@yumyumseth</a> and <a href="https://steemit.com/@Cryptoctopus">@Cryptoctopus</a>.
      </p>
    </footer>

    <script
  src="https://code.jquery.com/jquery-3.3.1.min.js"
  integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
  crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/protonet-jquery.inview/1.1.2/jquery.inview.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/showdown/1.8.6/showdown.min.js"></script>
    <script src="https://unpkg.com/masonry-layout@4/dist/masonry.pkgd.min.js"></script>
    <script src="https://cdn.steemjs.com/lib/latest/steem.min.js"></script>
    <script src="/js/vendor/finally-custom.js"></script>
    <script src="/js/main.js"></script>
  </body>
</html>
