* {
  box-sizing: border-box;
}
body {
  font-family: -apple-system,BlinkMacSystemFont,San Francisco,Helvetica Neue,Helvetica,Ubuntu,Roboto,Noto,Segoe UI,Arial,sans-serif;
}

a {
    word-break: break-all;
}
h2 {
  font-size: 24px;
  font-weight: 700;
  margin-bottom: 20px;
}

h3 {
  font-size: 20px;
  font-weight: 700;
  margin-bottom: 10px;
}

.cf:after {
  content: "";
  display: table;
  clear: both;
}
.noscroll {
    overflow: hidden;
    position: fixed;
    width: 100%;
}

.topbar {
  height: 60px;
}
.topbar__brand {
  line-height: 60px;
  padding: 15px;
  font-weight: 700;
}
.topbar__cta  {
  float: right;
}
.header {
  background: url(https://source.unsplash.com/26GBM9cW33g/1400x600) center center;
  background-size: cover;
  padding: 100px 0;
  position: relative;
}

.header__title {
  text-align: center;
  color: #fff;
  font-weight: 700;
  font-size: 2.5rem;
  text-transform: uppercase;
  letter-spacing: 0.3em;
  margin-bottom: 20px;
}
.header__sub-title {
  text-align: center;
  color: #fff;
  font-weight: 700;
  font-size: 1rem;
  text-transform: uppercase;
  letter-spacing: 0.3em
}
.header__people {
    position: absolute;;
    left: 0;
    bottom: 0;
    color: #fff;
    padding: 0 30px
}

.header__learn {
  position: absolute;;
  right: 0;
  bottom: 0;
  color: #fff;
  padding: 0 30px
}

.nav {
  text-align: center;
  padding: 45px 0 15px;
}

.nav__link {
  margin: 0 15px;
  color: #7b7b7b;
  text-transform: uppercase;
  letter-spacing: 2px;
  font-weight: bold;
  font-size: 14px;
}
.nav__link--active {
  padding-bottom: 2px;
  border-bottom: solid 2px #333;
  color: #333
}


.gallery {
  margin: 30px 2.5%;
  max-width: 1400px;
  width: 95%
}
@media(min-width: 1400px){
  .gallery {
    margin: 30px auto;
  }
}

.item__image {
  max-width: 100%;
  min-width: 100%;
}

.item {
  opacity: 1;
  transition: opacity 600ms ease;
  width: calc(33.3% - 10.667px);
  margin: 0 auto 16px;
  position: relative;
}

@media(max-width: 768px){
  .item {
    width: calc(50% - 8px);
    margin: 0 auto 16px;
  }
}

@media(max-width: 440px){
  .item {
    width: 100%;
    margin: 0 auto 16px;
  }
}

.hidden {
  opacity: 0;
}

.item__overlay {
  opacity: 0;
  transition: opacity 300ms ease-in-out;
    z-index: 10;
    position: absolute;
    bottom: 6px;
    height: 55px;
    width: 100%;
    background: linear-gradient(rgba(0, 0, 0, 0), #343434);
}

.item__photographer {
opacity: 0;
transition: opacity 300ms ease-in-out;
  z-index: 100;
  position: absolute;
  bottom: 0;
  left: 0;
  padding: 15px;
  color: #fff;
  font-weight: 500;
  font-size: 14px;
}
.item__like {
  opacity: 0;
  transition: opacity 300ms ease-in-out;
  z-index: 100;
  padding: 3px 8px;
  position: absolute;
  bottom: 0;
  right: 0;
  color: #a5a5a5;
  background: #fafafa;
  border-radius: 5px;
  margin:  15px;
}

.item:hover {
  cursor: zoom-in;
}
.item:hover .item__like,
.item:hover .item__photographer,
.item:hover .item__overlay  {
  opacity: 1;
}

.item__heart {

}

.overlay__bg {
  display: none;
  z-index: 500;
  background: rgba(255,255,255,0.75);
  top: 0;
  position: fixed;
  bottom: 0 ;
  left: 0;
  right: 0;
}
.overlay__bg:hover {
  cursor: zoom-out;
}

main {
  height: 100%;
}
.overlay {
  height: 100%;
  z-index: 1000;
  display: none;
  position: fixed;
  overflow-y: scroll;
  top: 0;
  left: 0;
  width: 100%;
}

.overlay__content,
.overlay__faq {
  display: none;
  position: relative;
  box-shadow: 0 8px 50px rgba(0,0,0,.15);
  z-index: 1200;
  background: #fff;
  padding: 30px;
  width: 80%;
  margin: 30px auto;
  max-width: 800px;
}

.overlay--active {
  display: block;
}

@media(max-width: 680px){
  .overlay__content {
    padding: 15px;
    width: 90%;
    margin: 50px 5%;
  }
}

@media(max-width: 900px){
  .overlay__content {
    padding: 15px;
    width: 80%;
    margin: 50px 10%;
  }
}

.overlay__content img {
  max-width: 100%;
  margin-bottom: 15px;
}
.overlay__content sup {
  margin-top: 10px;
}

.overlay__content h1 {
  font-size: 30px;
}

.overlay__content h2 {
  font-size: 24px
}

.overlay__content h3,
.overlay__content h4,
.overlay__content h5 {
  font-size: 16px;
}

.overlay__content h1,
.overlay__content h2,
.overlay__content h3 {
  margin-bottom: 20px;
}

.overlay__content p {
  margin-bottom: 15px;
}

.overlay__content td {
  padding: 10px 10px;
  background: #f3f1f1;
  border: solid 2px #fff;
}
.overlay__content ol, ul {
  padding: 10px 20px;
}
.overlay__content li {
  margin: 3px 0;
  list-style: circle;
}

.overlay__content tr:nth-of-type(odd) td{
  background: #f9f6f6;
}
.overlay__author {
  float: left;
}
.overlay__author-img {
  float: left;
  border-radius: 50%;
  min-height: 35px;
  min-width: 35px;
}
.overlay__author-info {
  float: left;
  margin-left: 15px;
}
.overlay__author-username {
  float: left;
  font-size: 12px;
  line-height: 1.3;

}
.overlay__author-name {
  font-size: 15px;
  font-weight: 700;
  float: left;
  display: block;
  width: 100%;
  line-height: 1.3;
}
.overlay__tags {
  padding: 5px 0 0 0;
  float: right;
  display: block;
}
.overlay__tags span {
  font-size: 10px;
    padding: 4px 8px;
  padding: 5px 10px;
  border: solid 1px #ccc;
  border-radius: 5px;
  margin: 0 0 5px 10px;
  float: left;
}

.overlay__title  {
  margin-top: 20px;
  margin-bottom: 15px;
  max-width: 75%;
}

@media(max-width: 680px){
  .overlay__title {
  max-width: 100%;
  font-size: 1.5rem;
  }
}

.overlay__border {
  margin: 1rem 0;
}


.overlay__faq p{
  margin-bottom: 20px;
}
.btn {
  margin:  15px 15px 15px 0;
  height: 30px;
  line-height: 30px;
  padding: 0 12px;
  border-radius: 5px;
  box-shadow: 0 1px 1px rgba(0,0,0,.05);
  transition: all 200ms ease-in-out;
  text-align: center;
  font-size: 14px;
  cursor: pointer;
  font-weight: 500;
}
.btn--primary {
  background-color: #67a2e5;
  color: #fff;
}
.btn--secondary {
  border: solid 1px #a5a5a5;
  color: #a5a5a5;
}
.btn--large {
  font-size: 20px;
  padding: 4px 16px;
}
.btn.is-active {
  border: solid 1px #000000;
  color: #000000;
  background: #f6f6f6;
}

footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  z-index: 100;
  background: #fff;
  text-align: center;
  padding: 15px 5px 10px ;
  font-size: 12px;
}


.gallery__photographers h2 {
  text-align: center;
}
.photogaphers__top,
.photogaphers__all {
  margin-bottom: 30px;
}
.photogapher__single {
  width: 25%;
  float: left;
  padding: 30px;
  border: solid 1px transparent;
  border-radius: 5px;
  transition: all 300ms ease-in;
  position: relative;
}
.photogapher__single a {
  color: #3f3f3f;
}

@media(max-width: 1240px){
  .photogapher__single {
    width: 33.33%;
  }
}

@media(max-width: 840px){
  .photogapher__single {
    width: 50%;
  }
}

@media(max-width: 680px){
  .photogapher__single {
    width: 100%;
  }
}


.photogapher__single:hover {
  border: solid 1px #cdd3df;
  cursor: pointer;
  background: #f8f8f8;
  box-shadow: 0 0 5px rgba(0,0,0,0.1);
}

.photogapher__info {
  float: left;
  padding-left: 15px;
}
.photogapher__link {
  opacity: 0;
  position: absolute;
  right: 15px;
  top: 45px;
  transition: all 300ms ease-in;
}
.photogapher__link svg {
  width: 35px;
  stroke: #cdd3df;
}
.photogapher__single:hover .photogapher__link{
  opacity: 1;
}
.photogapher__avatar {
  float: left;
  border-radius: 50%;
  height: 60px;
  width: 60px;
}

.photogapher__username,
.photogapher__posts,
.photogapher__featured,
.photogapher__link {
    font-size: 14px;
    margin: 0;
}
